node_modules/
.env
# uploads
# no subir nada de la carpeta imagen-perfil-usuarios ---> carpeta donde se guarda las imagenes de perfil de los usuarios
# no subir nada de posteos_usuarios, las carpetas se generan automaticamente
uploads/
